{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Update Question - {{question.question}}
{% endblock title %}

{% block content %}
    <div class="card mt-5">
        <div class="card-header">
            <h3>Update Question - {{question.question}}</h3>
        </div>
        <div class="card-body">
            <form  method="post">
                {% csrf_token %}
                {{form|crispy}}
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock content %}